body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* anything related to the whole entire page */
body {
    font-family:fantasy;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    position:fixed;   
    text-align: center;
    opacity: 0.1;
    background-size: cover;
}

.button {
    background-color: #4CAF50; 
    width: 8%;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 88px;
  }


/* user info links */
header { 
    background-color: #333; 
    color: #fff;
    text-align: right;
    padding: 5px;
}

.userinfo {
    display: inline;
}
.userinfo ul {
    list-style: none;
    font-size: larger;
}
.userinfo li {
    display: inline; /* lines up the links on one line*/
    margin-right: 20px;
}
.userinfo a {
    text-decoration: none; /* Remove underline from links */
    color: #fff;
    font-weight: bold; 
}
.userinfo a:hover {
    text-decoration: underline; /* underline links on hover */
    color: purple; /* change text color on hover */
}





/*  Nav bar on homepage */
nav {
    text-align: center;
    padding: 10px;
}
.navlinks { /* spacing the links */
    display: block; 
    margin: 0 20px; /* left to right */
    text-align: left; 
}
nav a {     /* prettying up the navigation bar */
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline; /* underline when hovered over */
    color: purple; /* changing text color when hovered over */
}



/*  Dropdown menu on the homepage */
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content { /* prettying up the dropdown */
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {  /* hover over the tab */
    display: block;
  }
  .dropdown-content li {   /* spacing links */
    padding: 10px;
  }
  .dropdown-content li:hover { /* links inside dropdown */
    background-color:lightseagreen;
  }
  



/* Game images on home page. */
.image-container { /* grid layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-box {  /* lining up the whole image container */
    width: 200px;
    height: 200px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    position: relative; 
}
.image-box img {  /* spacing the images inside of the container */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.overlay { /* sliding overlay over images*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.image-box:hover .overlay{
    height: 100%;
    opacity: 1;
}
.overlay h1 {
    color: white;
    text-align: center;
    
  }

/* all page titles and descriptions */
.page-heading {
    font-size: 50px;
    color: white;
    text-align: center;
    justify-content: center;
  }
  .page-heading2 {
    font-size: 30px;
    color: white;
    text-align: center;
    justify-content: center;
  }

.Account-Form {
    font-size: 18px;
    color: white;
    text-align: center;
    justify-content: center;
}
  #intro-paragraph {
    font-size: 18px;
    color: white;
    text-align:center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






  

main { /* nothing in here yet but its just the main content area */
    padding: 20px;
}



footer { /* prettying up the footer */

    margin-top: auto;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}



/*  screen sizing to make site responsive */

@media screen and (max-width: 768px) {} /* Phones */
    

@media screen and (min-width: 769px) and (max-width: 1024px) {} /* Tablets */
    

@media screen and (min-width: 1025px) {}/* Desktops */